<h1>Student 데이터 삽입</h1>

<button onclick="location.href='/'">Home</button>
<button onclick="location.href='/update'">Update</button>
<br></br>

<form name="student" method="post" action="/insert">
    <div>
        <label for="Name">Name</label>
        <input id="Name" name="Name" type="text" required placeholder="Name" />
    </div>
    <div>
        <label for="Email">Email</label>
        <input id="Email" name="Email" type="text"  placeholder="Email" />
    </div>
    <div>
        <label for="Phone">Phone</label>
        <input id="Phone" name="Phone" type="text" placeholder="Phone" />
    </div>
    <div>
        <label for="Major">Major</label>
        <input id="Major" name="Major" type="text" required placeholder="Major" />
    </div>
    <div>
        <label for="Did">Did</label>
        <input id="Did" name="Did" type="text" required placeholder="Did" />
    </div>
    <div>
        <input type="submit" value="삽입" />
    </div>
</form>